.tasks__container {
  background-color: #282c34;
  height: 90vh;
  width: 90vw;

  position: absolute;
  margin: auto;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  border-radius: 4px;
}

h1 {
  padding: 0;
  margin: 0;
}

.tasks__input-wrapper {
  border-top: 2px solid white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tasks__input-wrapper input {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin: 10px;
  font-size: 40px;
}

input:focus {
  outline: none;
}

.tasks__lists {
  border-top: 2px solid white;
  height: 70%;
  overflow: scroll;
}

ul.task_ul {
  padding: 0px;
  /* border: 2px dotted red; */
}
.tasks__li {
  margin: 15px auto;
  list-style-type: none;
  border: 2px solid gray;
  padding: 10px;
  /* width: 100%; */
  width: 70%;
  /* margin: auto; */
}
