button {
  border: none;
  width: 10%;
  border-radius: 5px;
  font-size: 30px;
  color: #282c34;
}

button.form-btn:active {
  border: 1px solid yellowgreen;
}

button.task-delete-btn,
button.task-complete-btn, button.task-change-btn {
  font-size: 15px;
  border-radius: 5px;
  margin: 0px 2px;
}

button.task-delete-btn:active {
  background-color: red;
}

/* complete button for tasks */

button.task-complete-btn:active {
  background-color: yellowgreen;
}

button.task-change-btn:active{
    background-color: tomato;
}
